body {
    background-color: hsl(47, 88%, 63%);
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
    position: relative;
}
.white-box {
    width: 350px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;

}

.illustration {
    display: flex;
    justify-content: right;
    border-radius: 5%;
}

.learning-button {
    width: 90px;
    height: 30px;
    background-color:  hsl(47, 88%, 63%);
    border-radius: 10%;
    display: flex; /* Enable Flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center;
    margin-top: 20px;
}

.learning-text {
    font-family: "Figtree", sans-serif;
    font-weight: 700;
}
.date {
    font-family: "Figtree", sans-serif;
    font-size: 10pt;
}
.title {
    font-family: "Figtree", sans-serif;
    font-weight: 800;
    margin-bottom: -3px;
    margin-top: -3px;
}
.description {
    font-family: "Figtree", sans-serif;
    font-size: 12pt;
    color:hsl(0, 0%, 42%);
    line-height: 25px;
}
.author {
    display: flex;
    align-items: center; /* Align items vertically center */
    justify-content: flex-start; /* Align items horizontally left (default) */
    padding: 10px; /* Add padding if needed */
    font-family: "Figtree", sans-serif;
    font-weight: 800;
    margin-top: -15px;
    margin-left: -10px;
}

.author-picture {
    width:40px;
    height:40px;
    margin-right: 10px;
}